.searchInput {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}


.columnas {
    width: 100%;
    height: 100%;
}

ul.lista {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 30px;
}

li.lista {
    margin-bottom: 10px;
}

.inputs {
    width: 100%;
    height: 100%;
}


.card {
    margin-bottom: 20px;
}

.botonEliminarPlato {


}

.menosBottomHeader {
    margin-bottom: -23px;
}

.menosBottomBody {
    margin-bottom: -50px;
}

.botonSuccess {
    background-color: rgb(42, 102, 54);
}

.botonDanger {
    background-color: rgb(177, 49, 66);
}

.botonPrimary {
    background-color: rgb(177, 49, 66);
}

.cards {
    border-radius: 20px;
    border-color: rgb(139, 154, 167);
}