.searchInput{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.imagenInicio{
    width: 100%;
    height: 100%;
}

.columnas{
    width: 100%;
    height: 100%;
}

ul.lista{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 30px;
}
li.lista{
    margin-bottom: 10px;
}

.inputs {
    width: 100%;
    height: 100%;

}

.card{
    margin-bottom: 20px;
}

.botonEliminarPlato{


}

.menosBottomHeader{
    margin-bottom: -23px;
}

.menosBottomBody{
    margin-bottom: -50px;
}